<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="treeDiM.Processor.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="treeDiM.Processor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="treeDiM.Processor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <treeDiM.Processor.Test.Properties.Settings>
      <setting name="FilePath" serializeAs="String">
        <value />
      </setting>
    </treeDiM.Processor.Test.Properties.Settings>
    <treeDiM.Processor.Settings>
      <setting name="OutputDirectory" serializeAs="String">
        <value/>
      </setting>
    </treeDiM.Processor.Settings>
  </userSettings>
  <applicationSettings>
    <treeDiM.Processor.Settings>
      <setting name="SettingsFilePath" serializeAs="String">
        <value>K:\GitHub\PLMPackLib\treeDiM.Processor\ExporterSettings.xml</value>
      </setting>
    </treeDiM.Processor.Settings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
</configuration>
